<!DOCTYPE html>
<html>
  <head>
    <title>MicroBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: lightgray">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Micro-blog</a>
      <%=link_to 'New Post', new_post_path, :class => 'text-light'%>
    </nav>
    <div class="row justify-content-md-center">
      <div class="col col-md-8">
        <%= yield %>
      <div>
    </div>
  </body>
</html>
